{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<!-- <link href="{% static 'table/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'table/js/jquery.min.js' %}"></script>
<script src="{% static 'table/js/bootstrap.min.js' %}"></script> -->

    <div class="container-fluid px-4">
        <h1 class="mt-4">Transactions</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Transactions</li>
        </ol>
        <div class="card mb-4">
            <!-- <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Transactions List
                <a class="btn btn-sm btn-success" href="{% url 'trans_create' %}" style="padding: 8px; float: right; background-color: green; color: white;">ADD</a>
            </div> -->

            



            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="container" style="margin-top: 10px">
                    <h1>Transaction List</h1>
                    <br />
                    
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                       Transaction list
                    </div>
                    
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                           
                        </div>
                        <div class="card-body">
                            
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Sales person name</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    
                                    <th>Street</th>
                                    <th>Distict</th>
                                    
                                    <th>State</th>
                                    <th>Action</th>
                                    
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>Sales person name</th> 
                                    <th>Name</th>
                                    <th>Phone</th>
                                    
                                    <th>Street</th>
                                    <th>Distict</th>
                                    
                                    <th>State</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                                <tbody>
    
                                    {% for trans_bystatus in trans_bystatus %}
                                    <tr>
                                 
                                        <td>{{ trans_bystatus.id }}</td>
                                        <td><a class="btn btn-sm ">{{ trans_bystatus.sales_id.name }}</a></td>
                                        <td>{{ trans_bystatus.name }}</td>
                                        <td>{{ trans_bystatus.phone }}</td>
                                        <td>{{ trans_bystatus.add_street }}</td>
                                        <td>{{ trans_bystatus.add_district }}</td>
                                        <td>{{ trans_bystatus.add_state }}</td>
                                        
                                        
                                        
                                        <td>
                                            <a class="btn btn-sm btn-warning" href="/trans_edit/{{ trans_bystatus.id }}"> <span class="fa fa-edit"></span> </a>
                                            <!-- <a class="btn btn-sm btn-danger" href="/trans_delete/{{ trans_bystatus.id }}"><span class="fa fa-trash"></span> </a> -->
                                            {% if trans_bystatus.status == 3 %}
                                            <a href="/inv_create/{{ trans_bystatus.id }}">invoice create</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                
      
                                </tbody>
                            </table>
                        </div>
                    </div>


               
                </div>

                <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Street</th>
                        <th>Location</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trans in trans %}
                        <tr>
                     
                            <td>{{ trans.id }}</td>
                            <td>{{ trans.name }}</td>
                            <td>{{ trans.add_street }}</td>
                            <td>{{ trans.add_district }}</td>
                            <td>{{ trans.add_state }}</td>
                            
                            
                            <td>
                                <a class="btn btn-sm btn-warning" href="trans_edit/{{ trans.id }}"> <span class="fa fa-edit"></span> Edit</a>
                                <a class="btn btn-sm btn-danger" href="trans_delete/{{ trans.id }}"><span class="fa fa-trash"></span> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}

