{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Transactions</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Edit Transactions</li>
        </ol>
        <div class="bd-example">
            <form action="update/{{ trans.id }}" method="POST">
                {% csrf_token %}
                       <!-- id = models.BigAutoField(primary_key=True)
                            name = models.CharField(max_length=50)
                            add_street = models.CharField(max_length=50)
                            add_location = models.CharField(max_length=50)
                            add_district = models.CharField(max_length=50)
                            add_state = models.CharField(max_length=50)
                            add_pincode = models.CharField(max_length=50)
                            status = models.IntegerField(default=0)  # To count how many news contains in an one category
                            phone = models.BigIntegerField(max_length=15)  # To count how many news contains in an one category
                            sales_id = models.ForeignKey(Sales, on_delete=models.CASCADE)
                            created_time= models.DateTimeField(null=True)
                            update_time= models.DateTimeField(null=True) -->
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" id="inputName" type="text" value="{{ trans.name }}" name="name" placeholder="Enter your first name"/>
                            <label for="inputname">Enter Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputStreet" type="text" value="{{ trans.add_street }}" name="street" placeholder="Enter your last name"/>
                            <label for="inputstreet">Enter Street</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputlocation" type="text" value="{{ trans.add_location }}" name="location" placeholder="Enter your last name" readonly/>
                            <label for="inputlocation">Enter location</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputdistrict" type="text" value="{{ trans.add_district }}" name="district" placeholder="Enter your last name" readonly/>
                            <label for="inputdistrict">Enter district</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputstate" type="text" value="{{ trans.add_state }}" name="state" placeholder="Enter your last name" readonly/>
                            <label for="inputstate">Enter state</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputpincode" type="text" value="{{ trans.add_pincode }}" name="pincode" placeholder="Enter your last name" readonly/>
                            <label for="inputpincode">Enter pincode</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputphone" type="number" value="{{ trans.phone }}" name="phone" placeholder="Enter your last name" readonly/>
                            <label for="inputphone" >Enter phone</label>
                        </div>
                    </div>
                    <!-- <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputstock" type="number" value="{{ trans.stock }}" name="stock" placeholder="Enter your last name"/>
                            <label for="inputstock">Enter stock</label>
                        </div>
                    </div> -->
                   
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}