<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="{% url 'home' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
          
            <a class="nav-link" href="{% url 'doc_list' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-fw fa-database"></i></div>
                Doctor
            </a>
           
            <a class="nav-link" href="{% url 'app_list' %}">
                <div class="sb-nav-link-icon"><i class="fas fa-fw fa-database"></i></div>
                Appointment
            </a>
           

          

        </div>
    </div>
</nav>