{% extends 'layout/app.html' %}

{% load static %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Review </div>
                    <div style="font-size: 70px;text-align: center;">{{ rev_cnt }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        
                        <a class="small text-white stretched-link" href="trans_list_bystatus/1">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Subscription</div>
                    <div style="font-size: 70px;text-align: center;">{{ sub_cnt }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="trans_list_bystatus/3">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Sales</div>
                    <div style="font-size: 70px;text-align: center;">{{ sal_cnt }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="trans_list_bystatus/2">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Stock</div>
                    <div style="font-size: 70px;text-align: center;">{{ sto_cnt }}</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="trans_list_bystatus/4">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Area Chart Example
                    </div>
                    <div class="card-body">
                        <canvas id="myAreaChart" width="100%" height="40"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="100%" height="40"></canvas>
                    </div>
                </div>
            </div>
        </div> -->
    
        <div class="card-body">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}


            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                   Sales list
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Street</th>
                            <th>Location</th>
                            <th>District</th>
                            <th>State</th>
                            <th>Action</th>
                            
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Street</th>
                            <th>Location</th>
                            <th>District</th>
                            <th>State</th>
                            <th>Action</th>
                        </tfoot>
                        <tbody>
                            {% for sales in sales %}
                    <tr>
                        <td>{{ sales.id }}</td>
                        <td><a class="btn btn-sm " href="trans_list_byid/{{ sales.id }}"> {{ sales.name }}</a></td>
                        <td>{{ sales.add_street }}</td>
                        <td>{{ sales.add_district }}</td>
                        <td>{{ sales.add_state }}</td>
                        
                        
                        <td>
                            <a class="btn btn-sm btn-warning" href="sales_edit/{{ sales.id }}"> <span class="fa fa-edit"></span> Edit</a>
                            <!-- <a class="btn btn-sm btn-danger" href="sales_delete/{{ sales.id }}"><span class="fa fa-trash"></span> Delete</a> -->
                        </td>
                    </tr>
                {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Location</th>
                    <th>District</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for sales in sales %}
                    <tr>
                        <td>{{ sales.id }}</td>
                        <td>{{ sales.name }}</td>
                        <td>{{ sales.add_street }}</td>
                        <td>{{ sales.add_district }}</td>
                        <td>{{ sales.add_state }}</td>
                        
                        
                        <td>
                            <a class="btn btn-sm btn-warning" href="sales_edit/{{ sales.id }}"> <span class="fa fa-edit"></span> Edit</a>
                            <a class="btn btn-sm btn-danger" href="sales_delete/{{ sales.id }}"><span class="fa fa-trash"></span> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> -->
        </div>
            

    </div>
{% endblock %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
{% endblock %}